<!-- component -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

<div>      
	<div class="bannerFondo bg-orange-800  bg-left-top bg-auto bg-repeat-x" style="background-image: url(./img/continuartl_4.png)">
        <div class="w-full text-center">

            <h1 class="py-20 font-bold text-5xl text-white">
              ABOUT US & OUR CREDENTIALS
            </h1>
        </div>
	</div>

      <div class="-mt-64 py-8">
    
      <div class="grid grid-cols-1 gap-4 sm:grid-cols-3 ">
  
          <div class="p-2 sm:p-10 text-center cursor-pointer">
              <div class="py-16 max-w-sm rounded overflow-hidden shadow-lg hover:bg-white transition duration-500  bg-green-800">
                  <div class="space-y-10">
                      <i class="fas fa-money-bill" style="font-size:48px;"></i>
                      
                      <div class="px-6 py-4">
                          <div class="space-y-5">
                              <div class="font-bold text-xl mb-2">Best price</div>
                              <p class="text-black-700 text-base">
The best price on the market among competitors, constant discounts for our regular customers.
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
  
          <div class="p-2 sm:p-10 text-center cursor-pointer text-white"> 
              <div class="py-16 max-w-sm rounded overflow-hidden shadow-lg bg-orange-500 hover:bg-orange-600 transition duration-500">
                  <div class="space-y-10">
                    <i class="fa fa-head-side-mask" style="font-size:48px;"></i>
                      <div class="px-6 py-4">
                          <div class="space-y-5">
                              <div class="font-bold text-xl mb-2">Сoronavirus protection</div>
                              <p class="text-base">        
                                Our employees always wear masks and disposable gloves to ensure the safety of our customers. We are always looking out for you.
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
  
          <div class="p-2 sm:p-10 text-center cursor-pointer translate-x-2">
              <div class="py-16 max-w-sm rounded overflow-hidden shadow-lg hover:bg-white transition duration-500 bg-green-800 ">
                  <div class="space-y-10">
                      <i class="fas fa-pizza-slice" style="font-size:48px;"></i>
                      
                      <div class="px-6 py-4">
                          <div class="space-y-5">
                              <div class="font-bold text-xl mb-2">Delicious pizza</div>
                              <p class="text-black-700 text-base">
                                Our pizza is the tastiest of the competition, the best ingredients, the freshest products, puffy dough.
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
  
      </div>
      </div>
  
  </div>